---
layout: default
---
<div class="row">
  <div class="col-md-3">
    <div class="docNavigation affix">
    <div class="margin-bottom-30"></div>
    <h4 class="headline">Users</h2>
    <ul class="unstyled">
      <li><a href="{{site.context}}/documentation/m2e-faq.html">FAQ</a></li>
      <li><a href="{{site.context}}/documentation/m2e-execution-not-covered.html">Execution Not Covered</a></li>
    </ul>
    <h4 class="headline">Developers</h2>
    <ul class="unstyled">
      <li><a href="{{site.context}}/documentation/m2e-development-environment.html">Developement Environment Setup</a></li>
    </ul>
    <h4 class="headline">Extension Developers</h2>
    <ul class="unstyled">
      <li><a href="{{site.context}}/documentation/m2e-extension-development.html">Getting Started</a></li>
      <li><a href="{{site.context}}/documentation/m2e-making-maven-plugins-compat.html">Making Maven Plugins Compatible</a></li>
    </ul>
    <h4 class="headline">Release Notes</h2>
    <ul class="unstyled">
      <li><a href="{{site.context}}/documentation/release-notes-17.html">M2Eclipse 1.7</a></li>
      <li><a href="{{site.context}}/documentation/release-notes-16.html">M2Eclipse 1.6</a></li>
      <li><a href="{{site.context}}/documentation/release-notes-15.html">M2Eclipse 1.5</a></li>
    </ul>
    </div>
  </div>
  <div class="col-md-9 docs">
  {{content}}
  </div>
</div>
