---
layout: default
---
<!--=== Slider ===-->
<div class="background">
  <div class="row">
    <div class="col-md-12">
      <h1>Hey You! <span class="small">Interested in getting involved in the M2Eclipse project?</span></h1>
    </div>
  </div>
  <div class="row">
    <a href="https://dev.eclipse.org/mailman/listinfo/m2e-users" target="_blank"><div class="col-md-4 buttonBG">
      <h2>Join the User Mailing List</h2>
    </div></a>
    <a href="https://bugs.eclipse.org/bugs/buglist.cgi?bug_file_loc=&bug_file_loc_type=allwordssubstr&bug_id=&bug_status=NEW&bug_status=ASSIGNED&bug_status=REOPENED&bugidtype=include&chfieldfrom=&chfieldto=Now&chfieldvalue=&classification=Technology&cmdtype=doit&email1=&email2=&emailtype1=exact&emailtype2=substring&field0-0-0=noop&keywords=&keywords_type=allwords&long_desc=&long_desc_type=allwordssubstr&order=Reuse%20same%20sort%20as%20last%20time&product=m2e&query_format=advanced&short_desc=&short_desc_type=allwordssubstr&status_whiteboard=&status_whiteboard_type=allwordssubstr&type0-0-0=noop&value0-0-0=&votes=" target="_blank"><div class="col-md-4 buttonBG">
      <h2>File a bug on Bugzilla</h2>
    </div></a>
    <a href="https://twitter.com/m2eclipse" target="_blank"><div class="col-md-4 buttonBG">
      <h2>Follow M2Eclipse on Twitter</h2>
    </div></a>
  </div>
  <div class="row">
    <a href="https://dev.eclipse.org/mailman/listinfo/m2e-dev" target="_blank"><div class="col-md-4 buttonBG">
      <h2>Join the Developer Mailing List</h2>
    </div></a>
    <a href="https://github.com/eclipse/m2e-core" target="_blank"><div class="col-md-4 buttonBG">
      <h2>Source Code on Github</h2>
    </div></a>
    <a href="https://github.com/tesla/m2e-core-tests" target="_blank"><div class="col-md-4 buttonBG">
      <h2>Test Harness on Github</h2>
    </div></a>
  </div>
</div>
<div class="row"> 
  <div class="col-md-8">
    {{content}}
  </div>
  <div class="col-md-4">
  
  </div>
</div>